fuzzywuzzy
pysbd
python-Levenshtein
stable-ts @ git+https://github.com/jianfch/stable-ts.git@169e0146370a08224f85b587774cdca464ff1534
natsort

#Anki support
requests
# subs2cia
git+https://github.com/kanjieater/subs2cia@2391f40#egg=subs2cia
